-i https://pypi.org/simple
bcrypt==4.0.1
boto3==1.26.78
botocore==1.29.164
cffi==1.15.1
cryptography==41.0.0
jmespath==1.0.1
pan-os-python==1.8.1
pan-python==0.17.0
paramiko==2.12.0
pycparser==2.21
pynacl==1.5.0
python-dateutil==2.8.2
s3transfer==0.6.1
six==1.16.0
urllib3==1.26.14
xmltodict==0.13.0
